body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("IMG/bc.jpg");
    background-position: center;
    background-size: cover;
}

IMG {
    width: 20%;
    transition: all 2s;
    transition-property: all;
    cursor: pointer;
    transition-timing-function: linear;
}

@media only screen and (max-width: 600px) {
    body {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    IMG {
        width: 65%;
    }
}