    .cards {
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin-top: -15px;
    }
    /* LEFT */
    
    .cards .left {
        width: 50%;
        height: 100%;
    }
    
    .cards .left .left-top {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .cards .left .left-top .card {
        width: 48.5%;
        height: 95%;
        background-color: rgb(241, 241, 241);
    }
    
    .cards .left .left-bot {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cards .left .left-bot .card {
        width: 98%;
        height: 99%;
        background-color: rgb(241, 241, 241);
    }
    /* RIGHT */
    
    .cards .right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .cards .right .right-top {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cards .right .right-top .card {
        width: 98%;
        height: 95%;
        background-color: rgb(241, 241, 241);
    }
    
    .cards .right .right-bot {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .cards .right .right-bot .card {
        width: 48.5%;
        height: 99%;
        background-color: rgb(241, 241, 241);
    }
    /* OTHER */
    
    .cards .right .right-top .card a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .cards .right .right-top .card IMG {
        width: 75%;
        transition: .5s;
    }
    
    .card .title #marcador {
        width: 3px;
        height: 70%;
        background-color: rgb(196, 1, 131);
    }